@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

img.shiva {
  height: 100vh;
  width: auto;
}

img.krishna {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.test {
  padding: 150px;
}

p.logins {
  font-size: 35px;
}


a.links {
  text-decoration: none;
  color: blue;

}

a.links:hover {
  color: blue;
}

button.submit {
  background-color: #f54e26;
  color: white;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button.category {
  background-color: #f54e26;
  color: white;
  border: none;
  padding: 8px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

img.img2 {
  object-fit: cover;
}

.col-auto {
  padding-right: 15px;
}

.sidebar {
  background-color: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: all .3s;
  width: 270px;
  color: black;
  padding: 15px;
  box-shadow: 0 0 10px rgba(6, 22, 36, .08);
}

.first {
  display: flex;
  align-items: end;
}

.Logout {
  display: flex;
  align-items: end;
  position: fixed;
  bottom: 10px;
}

.header {
  background-color: white;
  box-shadow: 0 0 10px rgba(6, 22, 36, .08);
}



nav.bg-body-tertiary.justify-content-between.header.navbar.navbar-expand.navbar-light {
  z-index: 1;
}

.space {
  margin-top: 75px;
}

.MarginContent {
  padding: 35px 0 0 300px;
}

p.details {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p.details {
  font-family: Jost, sans-serif !important;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}


video.loader {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

svg.bi.bi-eye {
  float: right;
  position: relative;
  top: 0px;
  left: 0px;
}

svg.bi.bi-eye-slash {
  float: right;
  position: relative;
  top: 0px;
  left: 0px;
}


button.eyepass {
  float: right;
  border: none;
  background: none;
  position: relative;
  bottom: 27px;
  right: 15px;
}

td.MuiTableCell-root.MuiTableCell-footer.MuiTableCell-sizeMedium.tss-1ork7hi-MUIDataTablePagination-tableCellContainer.css-nfmglb-MuiTableCell-root {
  display: none;
}